.card{
    width:60%;
    padding: 20px;
    margin: 5% auto;
}
.addbtn{
    margin-top:23px;
    margin-left: -5px;
    height:39px;
}
.subBtn{
    width: 20%;
    margin-left: 35%;
    margin-top: -4%;
}
.dltBtn{
    width:50px;
    height:38px;
    margin-top:24px;
}